html {
	width:100%;
	overflow-x:hidden;
}

body {
background-color: #e6e5e5;
position:relative;
max-width: 100%;
overflow-x: hidden;
}

#header {
	position:relative;
	color:white;
	height:250px;
	background: #00667f; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, black, #00667f); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, black, #00667f); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, black, #00667f); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, black, #00667f);
	box-shadow:0px 3px 5px #a3a3a3;
}

#header h1 {
	font-family:'Roboto',"Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-top:80px;
	font-size:80px;
}

.homeheadline {
	line-height:50px;
}

#identification {
	font-family:'Lato',"Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color:white;
	padding:50px 20px 100px 20px;
	margin:50px 0px 50px 0px;
	position: relative;
	box-shadow:0px 0px 10px #a3a3a3;
	color: rgb(119,119,119);
}

/* overwriting default bootstrap link color */
a {
	color:#00667f !important;
}

.smaller {
	font-size:50%;
}

.sessionmess {
	color:#CC3714;
}

input {
    border-radius:2px;
	border: 1px solid #bbbaba;
	margin:5px 10px 5px 10px !important;
}

textarea {
	margin-top:20px;
	width:400px;
	max-width:420px;
	height: 70px;
	max-height:100px;
	border-radius:2px;
	border: 1px solid #bbbaba;
}

.notes {
	margin:30px auto 30px auto;
}

.note {
	max-width:300px;
	margin:5px auto 5px auto;
}

.regbutton {
	margin-top:20px;
	width:100px;
	background-color:#fff;
	color:#00667f;
	border-radius:0px;
	width:100px;
	font-family: 'Lato','Roboto',"Helvetica Neue", Helvetica, Arial, sans-serif;
	border: 2px solid #00667f;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
	text-transform:uppercase;
}

.regbutton:hover {
	border: 2px solid #fff;
	border-radius:0;
	width:100px;
	background: #00667f;
	color: #fff;
	font-family: 'Lato','Roboto',"Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#footer {
	height:100px;
	background: #00667f; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #00667f, black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #00667f, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #00667f, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #00667f, black);
	color:white;
	position:relative;
	box-shadow:0px -3px 5px #a3a3a3;
	font-family: 'Lato','Roboto',"Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align:center;
	padding-top:33px;
}

@media screen and (max-width:950px) {
	.homeheadline {
		font-size:200%;
	}
}

@media screen and (max-width:820px) {
	#header h1 {
		margin-top:75px;
		font-size:64px;
	}
	#identification h1  {
		font-size:200%;
	}
	#identification h3 {
		font-size:100%;
	}
	.homeheadline {
		line-height:40px;
	}
	.sessionmess {
	    font-size:12px;
	}
	input {
		max-width:200px;
	}
	input[type="text"]
	{
	    font-size:12px;
	}
	input[type="password"]
	{
	    font-size:12px;
	}
	.regbutton {
		margin-top:30px;
	}
}

@media screen and (max-width:600px) {
	#header {
		height:150px;
	}
	#header h1 {
		margin-top:45px;
		font-size:40px;
	}
	#identification {
		padding:30px 15px 50px 15px;
		margin:50px 0px 50px 0px
	}
	#identification h3 {
		line-height:22px;
	}
	input {
		max-width:200px;
	}
	input[type="text"]
	{
	    font-size:10px;
	}
	input[type="password"]
	{
	    font-size:10px;
	}
	.regbutton {
		margin-top:40px;
	}
	textarea {
		width:300px;
		height: 70px;
	}
}

@media screen and (max-width:415px) {
	textarea {
		width:200px;
		height: 70px;
	}
}

@media screen and (max-width:350px) {
	#header h1 {
		margin-top:55px;
		font-size:30px;
	}
}